h1{
  color: red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.resultImage {
  width: 100px;
  height: 100px;
}

.resultImage img {
  width: 100%;
  height: 100%;
}